<div class="container">
    <header class="text-center">
        <h3>
            <strong>
                First assignment:
            </strong>
        </h3>
        <p>Create two components:</p>
    </header>
    <div class="row justify-content-center align-items-center">
        <ol>
            <li>A warning alert within its own component.</li>
            <li>A success alert within its own component.</li>
        </ol>
    </div>
    <br>
    <div class="row justify-content-center align-items-center flex-column">
        <app-ky-warning-alert></app-ky-warning-alert>
        <br>
        <app-ky-success-alert></app-ky-success-alert>
    </div>
</div>

